*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
      
}
body {
    height:100vh;
    background:linear-gradient(#5372f0 50%,#000000
  50%);
}
.search{
   position:absolute;
    top: 50%;
    left: 50%;
    width: 90vw;
    max-width: 37.5;
    background-color: black;
    padding: 2.0em;
    border-radius: 1.0em;
}
.search-image{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
    margin-bottom: 1.2em;
}
.search-image input {
    font-size:  1em;
    padding: 1.0em; 
    border: none;
    outline: none;
    color:black;
    border-bottom: 1.5px solid #1f194c; 
}
.search-image input  focus{
    border-color: aqua;  
  }
  .search-image button {
  font-size: 1em; 
  border-radius: 2em;
  background-color:aqua;
  border: none;
  outline: none;
  color: white;    
  }
  #result img {
    display: block;
    max-width:12.5em;
    margin:auto;
  }
  